PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-08-09 13:07:12.772986');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2024-08-09 13:07:12.790370');
INSERT INTO django_migrations VALUES(3,'account','0001_initial','2024-08-09 13:07:12.808258');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "account_emailconfirmation" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created" datetime NOT NULL, "sent" datetime NULL, "key" varchar(64) NOT NULL UNIQUE, "email_address_id" integer NOT NULL REFERENCES "account_emailaddress" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "account_emailaddress" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "verified" bool NOT NULL, "primary" bool NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "email" varchar(254) NOT NULL);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$600000$EH319VPxIsFfaB9aNhJgyL$sKSImSfePnN+RjE7BUi533cwMW3UEsejm2xkhXzv4JU=','2024-08-09 12:18:45.628000',0,'normaluser','','normal@example.com',0,1,'2024-08-09 12:18:45.461000','');
CREATE TABLE IF NOT EXISTS "authtoken_token" ("key" varchar(40) NOT NULL PRIMARY KEY, "created" datetime NOT NULL, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "contact_contact" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "profile_photo" varchar(200) NULL, "name" varchar(128) NOT NULL, "company_name" varchar(128) NULL, "company_position" varchar(128) NULL, "memo" text NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO contact_contact VALUES(1,'https://avatars.githubusercontent.com/u/7259599?v=4','Alex.Ferguson','Manchester United','Sir','',1);
INSERT INTO contact_contact VALUES(2,'https://avatars.githubusercontent.com/u/7259599?v=4','Bentancur.Rodrigo','Tottnam Hospur','','midfielder',1);
INSERT INTO contact_contact VALUES(3,'https://avatars.githubusercontent.com/u/7259599?v=4','Cristiano.Ronaldo','MidEast','FreeRole','',1);
CREATE TABLE IF NOT EXISTS "contact_contactwebsite" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "website" varchar(200) NOT NULL, "contact_id" bigint NOT NULL REFERENCES "contact_contact" ("id") DEFERRABLE INITIALLY DEFERRED, "label_id" bigint NULL REFERENCES "contact_label" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO contact_contactwebsite VALUES(1,'https://avatars.githubusercontent.com/u/7259599?v=4',1,4);
INSERT INTO contact_contactwebsite VALUES(2,'https://avatars.githubusercontent.com/u/7259599?v=4',2,4);
INSERT INTO contact_contactwebsite VALUES(3,'https://avatars.githubusercontent.com/u/7259599?v=4',3,4);
CREATE TABLE IF NOT EXISTS "contact_contactphonenumber" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "phone_number" varchar(128) NOT NULL, "contact_id" bigint NOT NULL REFERENCES "contact_contact" ("id") DEFERRABLE INITIALLY DEFERRED, "label_id" bigint NULL REFERENCES "contact_label" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO contact_contactphonenumber VALUES(1,'010-2222-3333',1,2);
INSERT INTO contact_contactphonenumber VALUES(2,'010-2222-3333',2,2);
INSERT INTO contact_contactphonenumber VALUES(3,'010-1111-2222',3,2);
CREATE TABLE IF NOT EXISTS "contact_contactimportantdate" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "important_date" date NOT NULL, "contact_id" bigint NOT NULL REFERENCES "contact_contact" ("id") DEFERRABLE INITIALLY DEFERRED, "label_id" bigint NULL REFERENCES "contact_label" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO contact_contactimportantdate VALUES(1,'2024-08-09',1,3);
INSERT INTO contact_contactimportantdate VALUES(2,'2024-08-09',2,3);
INSERT INTO contact_contactimportantdate VALUES(3,'2024-08-09',3,3);
CREATE TABLE IF NOT EXISTS "contact_contactemail" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "email" varchar(254) NOT NULL, "contact_id" bigint NOT NULL REFERENCES "contact_contact" ("id") DEFERRABLE INITIALLY DEFERRED, "label_id" bigint NULL REFERENCES "contact_label" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO contact_contactemail VALUES(1,'alex@example.com',1,2);
INSERT INTO contact_contactemail VALUES(2,'bruno@example.com',2,2);
INSERT INTO contact_contactemail VALUES(3,'cristiano@example.com',3,2);
CREATE TABLE IF NOT EXISTS "contact_contactaddress" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "address" text NOT NULL, "contact_id" bigint NOT NULL REFERENCES "contact_contact" ("id") DEFERRABLE INITIALLY DEFERRED, "label_id" bigint NULL REFERENCES "contact_label" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO contact_contactaddress VALUES(1,'England',1,1);
INSERT INTO contact_contactaddress VALUES(2,'England',2,1);
INSERT INTO contact_contactaddress VALUES(3,'MidEast',3,1);
CREATE TABLE IF NOT EXISTS "contact_label" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(128) NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, CONSTRAINT "name" UNIQUE ("user_id", "name"));
INSERT INTO contact_label VALUES(1,'Home',1);
INSERT INTO contact_label VALUES(2,'Personal',1);
INSERT INTO contact_label VALUES(3,'Birthday',1);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "socialaccount_socialapp" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "provider" varchar(30) NOT NULL, "name" varchar(40) NOT NULL, "client_id" varchar(191) NOT NULL, "secret" varchar(191) NOT NULL, "key" varchar(191) NOT NULL, "provider_id" varchar(200) NOT NULL, "settings" text NOT NULL CHECK ((JSON_VALID("settings") OR "settings" IS NULL)));
CREATE TABLE IF NOT EXISTS "socialaccount_socialtoken" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "token" text NOT NULL, "token_secret" text NOT NULL, "expires_at" datetime NULL, "account_id" integer NOT NULL REFERENCES "socialaccount_socialaccount" ("id") DEFERRABLE INITIALLY DEFERRED, "app_id" integer NULL REFERENCES "socialaccount_socialapp" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "socialaccount_socialaccount" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "provider" varchar(200) NOT NULL, "uid" varchar(191) NOT NULL, "last_login" datetime NOT NULL, "date_joined" datetime NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "extra_data" text NOT NULL CHECK ((JSON_VALID("extra_data") OR "extra_data" IS NULL)));
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',37);
INSERT INTO sqlite_sequence VALUES('account_emailaddress',0);
INSERT INTO sqlite_sequence VALUES('django_admin_log',0);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "account_emailconfirmation_email_address_id_5b7f8c58" ON "account_emailconfirmation" ("email_address_id");
CREATE UNIQUE INDEX "account_emailaddress_user_id_email_987c8728_uniq" ON "account_emailaddress" ("user_id", "email");
CREATE UNIQUE INDEX "unique_verified_email" ON "account_emailaddress" ("email") WHERE "verified";
CREATE INDEX "account_emailaddress_user_id_2c513194" ON "account_emailaddress" ("user_id");
CREATE INDEX "account_emailaddress_email_03be32b2" ON "account_emailaddress" ("email");
CREATE UNIQUE INDEX "unique_primary_email" ON "account_emailaddress" ("user_id", "primary") WHERE "primary";
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "contact_contact_user_id_2e02db50" ON "contact_contact" ("user_id");
CREATE INDEX "contact_contactwebsite_contact_id_3da02ca0" ON "contact_contactwebsite" ("contact_id");
CREATE INDEX "contact_contactwebsite_label_id_589c8e1c" ON "contact_contactwebsite" ("label_id");
CREATE INDEX "contact_contactphonenumber_contact_id_49231a12" ON "contact_contactphonenumber" ("contact_id");
CREATE INDEX "contact_contactphonenumber_label_id_50e5c8b9" ON "contact_contactphonenumber" ("label_id");
CREATE INDEX "contact_contactimportantdate_contact_id_e7b432ab" ON "contact_contactimportantdate" ("contact_id");
CREATE INDEX "contact_contactimportantdate_label_id_a1ac8d57" ON "contact_contactimportantdate" ("label_id");
CREATE INDEX "contact_contactemail_contact_id_e8c369e1" ON "contact_contactemail" ("contact_id");
CREATE INDEX "contact_contactemail_label_id_486f3544" ON "contact_contactemail" ("label_id");
CREATE INDEX "contact_contactaddress_contact_id_d6699416" ON "contact_contactaddress" ("contact_id");
CREATE INDEX "contact_contactaddress_label_id_573986f9" ON "contact_contactaddress" ("label_id");
CREATE INDEX "contact_label_user_id_f4f84742" ON "contact_label" ("user_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE UNIQUE INDEX "socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq" ON "socialaccount_socialtoken" ("app_id", "account_id");
CREATE INDEX "socialaccount_socialtoken_account_id_951f210e" ON "socialaccount_socialtoken" ("account_id");
CREATE INDEX "socialaccount_socialtoken_app_id_636a42d7" ON "socialaccount_socialtoken" ("app_id");
CREATE UNIQUE INDEX "socialaccount_socialaccount_provider_uid_fc810c6e_uniq" ON "socialaccount_socialaccount" ("provider", "uid");
CREATE INDEX "socialaccount_socialaccount_user_id_8146e70c" ON "socialaccount_socialaccount" ("user_id");
COMMIT;
